<%
 # コンテンツへのリンクを生成
 # @params [string] title
%>

<div class="col-xs-3 footer-category">
 <h4 class="title"><%= title %></h4>
  <ul class="list-group">
    <% contents.each do | content | %>
      <%= link_to( post_search_path( i: content['id'] ), { :class => 'list-group-item' } ) do %>
        <%= content['title'] %>
      <% end %>
    <% end %>
  </ul>
</div>
